<!DOCTYPE html>
<html>
  <head>
    <title>DesafioPortafolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <!-- jQuery-->
    <%= javascript_include_tag 'plugins/jquery-3.3.1.min.js' %>
    <!-- Bootstrap 4.1.3 -->
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'plugins/popper.min.js' %>
    <!-- Animated Headlines -->
    <%= javascript_include_tag 'plugins/animated-headlines.js' %>
    <!-- Nav jQuery-->
    <%= javascript_include_tag 'plugins/nav.jquery.js' %>
    <!-- Nav jQuery-->
    
    <!-- Isotope -->
    <%= javascript_include_tag 'plugins/isotope.pkgd.min.js' %>
    <!-- Image Loaded -->
    <%= javascript_include_tag 'plugins/imagesloaded.pkgd.min.js' %>
    <!-- Magnific Popup -->
    <%= javascript_include_tag 'plugins/magnific-popup.min.js' %>
    <!-- Smooth-Scroll -->
    <%= javascript_include_tag 'smooth-scroll.js' %>
    <!-- Counter Up -->
    <%= javascript_include_tag 'plugins/jquery.waypoints.min.js' %>
    <%= javascript_include_tag 'plugins/jquery.counterup.min.js' %>
    <!-- Particles Js -->
    <%= javascript_include_tag 'plugins/particles.min.js' %>
    <%= javascript_include_tag 'plugins/app.js' %>
    <!-- Animated Headlines -->
     <%= javascript_include_tag 'plugins/animated-headlines.js' %>
    <%= javascript_include_tag 'main.js' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "home/navbar"%>
    <%= yield %>
    <%= render "home/footer"%>
  </body>
</html>
